
footer {
    display: grid;
    grid-template-columns: 10rem 10rem;

    
    height: 10vh;
    padding: 2rem;
    background-color: black;
    .footer_h1 {
        color: aliceblue;
    }
   .footer_svg {
    height: 4rem;
    width: 3rem;
    grid-row: 2 / 2;
   }
    
}