nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    height: 8vh;
    button {
        padding: 1rem;
        background-color: black;
        color: yellow;
        border: none;
       outline: black solid;
       outline-offset: 0.2rem;
    }
}
.header_center {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    @media only screen and (min-width: $bp-desktop){ 
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-items: center;
    }
    .outline_box {
        width: 12rem;
        height: 12rem;
        outline: solid yellow;
        @media only screen and (min-width: $bp-desktop) {
            width: 20rem;
            height: 20rem;
        }
    }
    .header_text {
        text-align: center;
        @media only screen and (min-width: $bp-desktop){ 
            padding: 10rem;
        }
        p {
            font-size: 2rem;
        }
      
    }
    span {
        display: block;
    }
}