 section {
    height: 60vh;
    background-color: $primary-color;
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      height: 50vh;
      @media only screen and (min-width: $bp-desktop){ 
        grid-template-columns: repeat(6, 1fr);
        height: 40vh;
      }
    }
    .section_title {
      text-align: center;
      padding-top: 3rem;
      color: $secondary-color;
      @media only screen and (min-width: $bp-desktop){
        font-size: 4rem;
      }
    }
 }

 .svg_skill{
   width: 6rem;
 }