 section {
    height: 60vh;
    background-color: yellow;
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      height: 50vh;
    }
    .section_title {
      text-align: center;
      padding-top: 3rem;
    }
 }

 .svg_skill{
   width: 4rem;
 }