*, ::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  display: grid;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: aliceblue;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  height: 8vh;
}
nav button {
  padding: 1rem;
  background-color: black;
  color: yellow;
  border: none;
  outline: black solid;
  outline-offset: 0.2rem;
}

.header_center {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}
@media only screen and (min-width: 900px) {
  .header_center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
.header_center .outline_box {
  width: 12rem;
  height: 12rem;
  outline: solid yellow;
}
@media only screen and (min-width: 900px) {
  .header_center .outline_box {
    width: 20rem;
    height: 20rem;
  }
}
.header_center .header_text {
  text-align: center;
}
@media only screen and (min-width: 900px) {
  .header_center .header_text {
    padding: 10rem;
  }
}
.header_center .header_text p {
  font-size: 2rem;
}
.header_center span {
  display: block;
}

section {
  height: 60vh;
  background-color: yellow;
}
section .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 50vh;
}
@media only screen and (min-width: 900px) {
  section .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
section .section_title {
  text-align: center;
  padding-top: 3rem;
}

.svg_skill {
  width: 4rem;
}

main {
  height: 250vh;
}
main .main_title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gall {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  row-gap: 5rem;
  justify-items: center;
  align-items: center;
}
@media only screen and (min-width: 900px) {
  .gall {
    height: 200vh;
    grid-template-columns: 50rem 50rem;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}

.img__box-one {
  background-image: url(https://images.unsplash.com/photo-1670854753247-2df22e4a4a84?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIzfGJEbzQ4Y1Vod25ZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 35rem;
  transition: all 0.2s;
}

.img__box-body {
  background-color: rgba(0, 0, 0, 0.521);
  transition: opacity 0.5s;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.img__box-body button {
  background-image: linear-gradient(90deg, yellow, yellow);
  border: hidden;
  padding: 0.6rem 2.4rem;
  cursor: pointer;
}

.img__box-body:hover {
  opacity: 1;
}

.box:hover {
  transform: translateY(-0.5rem);
}

.img__box-two {
  background-image: url(https://images.unsplash.com/photo-1670791778485-093d87b64b51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI2fGJEbzQ4Y1Vod25ZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 35rem;
  transition: all 0.2s;
}
.img__box-two .img__box-body {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.img__box-two .img__box-body button {
  background-image: linear-gradient(90deg, yellow, yellow);
  border: hidden;
  padding: 0.6rem 2.4rem;
  cursor: pointer;
}

.img__box-three {
  background-image: url(https://images.unsplash.com/photo-1670443147669-152c8f0fe2f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fGJEbzQ4Y1Vod25ZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 35rem;
  transition: all 0.2s;
}
.img__box-three .img__box-body {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.img__box-three .img__box-body button {
  background-image: linear-gradient(90deg, yellow, yellow);
  border: hidden;
  padding: 0.6rem 2.4rem;
  cursor: pointer;
}

.img__box-four {
  background-image: url(https://images.unsplash.com/photo-1669923804724-15237f5a4a7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMzfGJEbzQ4Y1Vod25ZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 35rem;
  transition: all 0.2s;
}
.img__box-four .img__box-body {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.img__box-four .img__box-body button {
  background-image: linear-gradient(90deg, yellow, yellow);
  border: hidden;
  padding: 0.6rem 2.4rem;
  cursor: pointer;
}

footer {
  display: grid;
  grid-template-columns: 10rem 10rem;
  height: 10vh;
  padding: 2rem;
  background-color: black;
}
footer .footer_h1 {
  color: aliceblue;
}
footer .footer_svg {
  height: 4rem;
  width: 3rem;
  grid-row: 2/2;
}/*# sourceMappingURL=main.css.map */